
//enter view
.ng-enter {
    animation: fadeIn both .3s;

    //overlay fix
    animation-delay: .3s;
}

//leave view
.ng-leave {
    animation: fadeOut both .3s;
}

//animations
@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
@keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
}

@keyframes scaleIn {
    from {transform: scale(0,0); opacity: 0}
    to {transform: scale(1,1); opacity: 1}
}
@keyframes scaleOut {
    from {transform: scale(1,1); opacity: 1}
    to {transform: scale(0,0); opacity: 0}
}

@keyframes fromTop {
    from {transform: translate3d(0, -100vh, 0)}
    to {transform: translate3d(0, 0, 0)}
}
@keyframes fromLeft {
    from {transform: translateX(-100vw)}
    to {transform: translateX(0)}
}
@keyframes fromRight {
    from {transform: translateX(100vw)}
    to {transform: translateX(0)}
}
@keyframes fromBot {
    from {transform: translate3d(0, 100vh, 0)}
    to {transform: translate3d(0, 0, 0)}
}

@keyframes toTop {
    from {transform: translateY(0)}
    to {transform: translateY(-100vh)}
}
@keyframes toLeft {
    from {transform: translateX(0)}
    to {transform: translateX(-100vw)}
}
@keyframes toRight {
    from {transform: translateX(0)}
    to {transform: translateX(100vw)}
}
@keyframes toBot {
    from {transform: translateY(0)}
    to {transform: translateY(100vh)}
}

@keyframes fromFlipX {
    from {transform: rotateX(90deg); position: absolute}
    to {transform: rotateX(0)}
}
@keyframes toFlipX {
    from {transform: rotateX(0); position: absolute}
    to {transform: rotateX(90deg)}
}

@keyframes fromFlipY {
    from {transform: rotateY(90deg); position: absolute}
    to {transform: rotateY(0)}
}
@keyframes toFlipY {
    from {transform: rotateY(0); position: absolute}
    to {transform: rotateY(90deg)}
}