//basics
$black: #001A5A;
$white: #f2f2f2;
$grey: #dfdfdf;

//hyperlinks
$blue: #2d8cf0;

//primary colors
$orange: #f39c12;

//horizontal gradients
@mixin hGrad {
    background: #FF4E50;
    background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);
    background: linear-gradient(to right, #F9D423, #FF4E50);
}

//vertical gradients
@mixin vGrad {
    background: #FF4E50;
    background: -webkit-linear-gradient(to bottom, #F9D423, #FF4E50);
    background: linear-gradient(to bottom, #F9D423, #FF4E50);
}

//shadows
$flat: 0 0 10px 0 rgba(#000, .5);
$light: 0 2px 3px 0 rgba(#000, .16), 0 0 0 1px rgba(#000, .08);
$dark: 0 2px 4px 0 rgba(#000, .6);

//scrollbar style
.scrollbar::-webkit-scrollbar-track {
    background-color: $white;
    border-radius: 28px;
}
.scrollbar::-webkit-scrollbar {
    width: 28px;
    background-color: $white;
}
.scrollbar::-webkit-scrollbar-thumb {
    border: 10px solid $black;
    border-radius: 28px;
    background: $grey;
}