@import './assets';
@import './animations';
@import './framework';

//main style
* {
    //reset
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    appearance: none;

    // renders
    image-rendering: crisp-edges;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
    
html, body, main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    //bg color
    background: $white;

     //font family
    font-family: 'Circular Std';
}

//hyperlinks
a {
    color: $blue;
    text-decoration: none;
}

//views style
@import '../build/login/login.scss';
@import '../build/app/app.scss';