.scrollbar::-webkit-scrollbar-track {
  background-color: #f2f2f2;
  border-radius: 28px; }

.scrollbar::-webkit-scrollbar {
  width: 28px;
  background-color: #f2f2f2; }

.scrollbar::-webkit-scrollbar-thumb {
  border: 10px solid #1a1a1a;
  border-radius: 28px;
  background: #b3b3b3; }

.ng-enter {
  -webkit-animation: fadeIn both .3s;
  animation: fadeIn both .3s;
  -webkit-animation-delay: .3s;
  animation-delay: .3s; }

.ng-leave {
  -webkit-animation: fadeOut both .3s;
  animation: fadeOut both .3s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; } }

@keyframes scaleIn {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; } }

@-webkit-keyframes scaleOut {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; } }

@keyframes scaleOut {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; } }

@-webkit-keyframes fromTop {
  from {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fromTop {
  from {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes fromLeft {
  from {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fromLeft {
  from {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes fromRight {
  from {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fromRight {
  from {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes fromBot {
  from {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fromBot {
  from {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes toTop {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh); } }

@keyframes toTop {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh); } }

@-webkit-keyframes toLeft {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); } }

@keyframes toLeft {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); } }

@-webkit-keyframes toRight {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); } }

@keyframes toRight {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); } }

@-webkit-keyframes toBot {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh); } }

@keyframes toBot {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh); } }

@-webkit-keyframes fromFlipX {
  from {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    position: absolute; }
  to {
    -webkit-transform: rotateX(0);
    transform: rotateX(0); } }

@keyframes fromFlipX {
  from {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    position: absolute; }
  to {
    -webkit-transform: rotateX(0);
    transform: rotateX(0); } }

@-webkit-keyframes toFlipX {
  from {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    position: absolute; }
  to {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg); } }

@keyframes toFlipX {
  from {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    position: absolute; }
  to {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg); } }

@-webkit-keyframes fromFlipY {
  from {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    position: absolute; }
  to {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); } }

@keyframes fromFlipY {
  from {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    position: absolute; }
  to {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); } }

@-webkit-keyframes toFlipY {
  from {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    position: absolute; }
  to {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); } }

@keyframes toFlipY {
  from {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    position: absolute; }
  to {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); } }

.view {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden; }

.box {
  background: #fff;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  padding: 40px; }

.ghost {
  background: #f2f2f2;
  padding: 10px;
  border-radius: 3px; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.hdiv {
  width: 100%;
  height: 1px;
  background: #b3b3b3;
  margin: 10px 0; }

.vdiv {
  width: 1px;
  height: 100%;
  background: #b3b3b3;
  margin: 0 10px; }

.dot {
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%; }

.btn {
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  color: #f2f2f2;
  border-radius: 3px;
  text-align: center; }

.light {
  background: #f2f2f2;
  color: #1a1a1a; }
  .light:hover {
    background: #1a1a1a;
    color: #f2f2f2; }

.dark {
  background: #1a1a1a;
  color: #f2f2f2; }
  .dark:hover {
    background: #f2f2f2;
    color: #1a1a1a; }

.label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 2px 10px;
  border-radius: 20px;
  color: #f2f2f2;
  text-align: center; }

.link {
  cursor: pointer;
  color: #19b5fe;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.text {
  width: 100%;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  padding: 15px 25px;
  background: #f2f2f2;
  border-radius: 3px; }
  .text:focus {
    background: #e5e5e5; }

.flat {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); }

.hgrad {
  background: #FF4E50;
  background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);
  background: -webkit-gradient(linear, left top, right top, from(#F9D423), to(#FF4E50));
  background: -webkit-linear-gradient(left, #F9D423, #FF4E50);
  background: -o-linear-gradient(left, #F9D423, #FF4E50);
  background: linear-gradient(to right, #F9D423, #FF4E50); }

.vgrad {
  background: #FF4E50;
  background: -webkit-linear-gradient(to bottom, #F9D423, #FF4E50);
  background: -webkit-gradient(linear, left top, left bottom, from(#F9D423), to(#FF4E50));
  background: -webkit-linear-gradient(top, #F9D423, #FF4E50);
  background: -o-linear-gradient(top, #F9D423, #FF4E50);
  background: linear-gradient(to bottom, #F9D423, #FF4E50); }

.swiper-container {
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important; }

.swiper-slide {
  width: 100vw !important;
  height: 92vh !important; }

.swiper-pagination {
  position: fixed !important;
  bottom: 0 !important;
  width: 100vw !important;
  height: 8vh !important;
  background: #fff;
  border-top: 1px solid #f2f2f2; }

.swiper-pagination-bullet {
  width: calc(100% / 3) !important;
  height: 100%;
  margin: 0 !important;
  background: transparent;
  border-radius: 0;
  text-align: center;
  opacity: 1;
  font-family: FontAwesome;
  font-size: 4vh !important;
  color: #b3b3b3 !important; }
  .swiper-pagination-bullet:after {
    position: absolute;
    width: calc(100% / 3);
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .swiper-pagination-bullet:nth-of-type(1):after {
    content: '\f0c9'; }
  .swiper-pagination-bullet:nth-of-type(2):after {
    content: '\f0e6'; }
  .swiper-pagination-bullet:nth-of-type(3):after {
    content: '\f00c'; }

.swiper-pagination-bullet-active {
  background: transparent !important;
  color: #f39c12 !important; }
