.scrollbar::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 28px; }

.scrollbar::-webkit-scrollbar {
  width: 28px;
  background-color: #fff; }

.scrollbar::-webkit-scrollbar-thumb {
  border: 10px solid #1a1a1a;
  border-radius: 28px;
  background: #969696; }

.ng-enter {
  -webkit-animation: fadeIn both .3s;
  animation: fadeIn both .3s;
  -webkit-animation-delay: .3s;
  animation-delay: .3s; }

.ng-leave {
  -webkit-animation: fadeOut both .3s;
  animation: fadeOut both .3s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; } }

@keyframes scaleIn {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; } }

@-webkit-keyframes scaleOut {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; } }

@keyframes scaleOut {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; } }

@-webkit-keyframes fromTop {
  from {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fromTop {
  from {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes fromLeft {
  from {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fromLeft {
  from {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes fromRight {
  from {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fromRight {
  from {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes fromBot {
  from {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fromBot {
  from {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes toTop {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh); } }

@keyframes toTop {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh); } }

@-webkit-keyframes toLeft {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); } }

@keyframes toLeft {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); } }

@-webkit-keyframes toRight {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); } }

@keyframes toRight {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); } }

@-webkit-keyframes toBot {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh); } }

@keyframes toBot {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh); } }

@-webkit-keyframes fromFlipX {
  from {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    position: absolute; }
  to {
    -webkit-transform: rotateX(0);
    transform: rotateX(0); } }

@keyframes fromFlipX {
  from {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    position: absolute; }
  to {
    -webkit-transform: rotateX(0);
    transform: rotateX(0); } }

@-webkit-keyframes toFlipX {
  from {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    position: absolute; }
  to {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg); } }

@keyframes toFlipX {
  from {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    position: absolute; }
  to {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg); } }

@-webkit-keyframes fromFlipY {
  from {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    position: absolute; }
  to {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); } }

@keyframes fromFlipY {
  from {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    position: absolute; }
  to {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); } }

@-webkit-keyframes toFlipY {
  from {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    position: absolute; }
  to {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); } }

@keyframes toFlipY {
  from {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    position: absolute; }
  to {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); } }

.view {
  width: 100%;
  height: calc(100vh - 60px);
  margin-top: 60px;
  overflow-y: auto;
  overflow-x: hidden; }

.box {
  background: #fff;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  padding: 40px; }

.ghost {
  background: #fff;
  padding: 10px;
  border-radius: 3px; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.hdiv {
  width: 100%;
  height: 1px;
  background: #969696;
  margin: 10px 0; }

.vdiv {
  width: 1px;
  height: 100%;
  background: #969696;
  margin: 0 10px; }

.dot {
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%; }

.btn, .btn-solid {
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 5px 10px;
  text-align: center; }

.btn-solid {
  text-align: left;
  border: 1px solid #D7D7D7; }

.light {
  background: #fff;
  color: #1a1a1a; }
  .light:hover {
    background: #2E3192;
    color: #fff; }

.dark {
  background: #2E3192;
  color: #fff; }
  .dark:hover {
    background: #fff;
    color: #1a1a1a; }

.label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 2px 10px;
  border-radius: 20px;
  color: #fff;
  text-align: center; }

.link {
  cursor: pointer;
  color: #19b5fe;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.text {
  width: 100%;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  padding: 15px 25px;
  background: #fff;
  border-radius: 3px; }
  .text:focus {
    background: #f2f2f2; }

.flat {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); }

.hgrad {
  background: #FF4E50;
  background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);
  background: -webkit-gradient(linear, left top, right top, from(#F9D423), to(#FF4E50));
  background: -webkit-linear-gradient(left, #F9D423, #FF4E50);
  background: -o-linear-gradient(left, #F9D423, #FF4E50);
  background: linear-gradient(to right, #F9D423, #FF4E50); }

.vgrad {
  background: #FF4E50;
  background: -webkit-linear-gradient(to bottom, #F9D423, #FF4E50);
  background: -webkit-gradient(linear, left top, left bottom, from(#F9D423), to(#FF4E50));
  background: -webkit-linear-gradient(top, #F9D423, #FF4E50);
  background: -o-linear-gradient(top, #F9D423, #FF4E50);
  background: linear-gradient(to bottom, #F9D423, #FF4E50); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #1a1a1a;
  image-rendering: crisp-edges;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto; }

i {
  font-size: 20px; }

html, body, main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #FAFAFA; }

a {
  color: #19b5fe;
  text-decoration: none; }

pre {
  min-height: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
  margin: 40px 0; }

.nav-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  background: #2E3192; }
  .nav-box img {
    height: 100%; }
  .nav-box h4 {
    color: #fff; }
  .nav-box i {
    color: #fff; }

.ng-enter,
.ng-leave {
  -webkit-animation: none;
  animation: none; }

.crm-box .options-box {
  width: 100%;
  height: 100px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  padding: 0 40px;
  border-bottom: 1px solid #D7D7D7; }
  .crm-box .options-box * {
    font-size: 16px; }

.crm-box i {
  font-size: 22px !important;
  color: #969696;
  margin-right: 20px; }

.crm-box p {
  color: #969696; }

.crm-box .left .btn, .crm-box .left .btn-solid {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 50px; }

.crm-box .crm-grid {
  width: calc(100% - 60px);
  height: calc(100% - 160px);
  margin: 30px auto; }

.crm-box .ui-grid-column-menu-button {
  display: none; }

.calc-box {
  width: 100%; }
  .calc-box .options-box {
    width: 100%;
    height: 100px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    padding: 0 40px;
    border-bottom: 1px solid #D7D7D7; }
    .calc-box .options-box * {
      font-size: 16px; }
  .calc-box i {
    font-size: 22px !important;
    color: #969696;
    margin-right: 20px; }
  .calc-box p {
    color: #969696; }
  .calc-box .left .btn, .calc-box .left .btn-solid {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 50px; }
  .calc-box .calc-bot {
    width: 100%;
    height: calc(100% - 160px);
    margin: 30px; }
  .calc-box .calc-grid {
    width: 500px;
    height: 100%; }
  .calc-box .ui-grid-column-menu-button {
    display: none; }
  .calc-box .calc-right {
    width: calc(100% - 560px);
    height: calc(100% + 2px);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 40px;
    background: #fff;
    border: 1px solid #D7D7D7;
    border-left: none; }
    .calc-box .calc-right .col {
      width: 90%; }
      .calc-box .calc-right .col h1 {
        font-size: 1.5vw; }
        .calc-box .calc-right .col h1 span {
          font-size: 14px;
          font-weight: 100; }
      .calc-box .calc-right .col .row {
        width: 100%;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end; }
        .calc-box .calc-right .col .row h1 {
          width: 50px !important;
          height: 50px !important;
          text-align: center;
          line-height: 50px;
          margin: 0 40px;
          font-size: 2vw; }
    .calc-box .calc-right label h4 {
      margin-top: 10px;
      color: #969696;
      font-weight: 100;
      font-size: 14px; }
    .calc-box .calc-right label .btn-solid {
      width: calc(100% - 50px);
      margin-top: 5px; }
    .calc-box .calc-right label .row {
      width: 100%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .calc-box .calc-right label span {
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 14px;
      color: #969696;
      border: 1px solid #D7D7D7;
      border-left: none;
      margin-top: 5px; }
  .calc-box .select-box,
  .calc-box .size-box {
    margin-left: 50px; }
  .calc-box .btn-solid {
    width: 50%;
    height: 50px;
    margin-top: 20px; }
  .calc-box .calc-total {
    width: 100%;
    padding: 30px 40px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #D7D7D7; }
    .calc-box .calc-total h1 {
      width: 200px;
      font-size: 50px; }
    .calc-box .calc-total h4 {
      font-size: 14px; }
    .calc-box .calc-total .col {
      width: calc(40% - 100px);
      margin: 0 20px; }
    .calc-box .calc-total .row {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }

.upload-box .options-box {
  width: 100%;
  height: 125px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  padding: 0 40px;
  border-bottom: 1px solid #D7D7D7; }
  .upload-box .options-box * {
    font-size: 16px; }

.upload-box i {
  font-size: 22px !important;
  color: #969696;
  margin-right: 20px; }

.upload-box p {
  color: #969696; }

.upload-box h3 {
  margin-left: 20px; }

.upload-box .left .btn, .upload-box .left .btn-solid {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 50px; }

.upload-box .right .btn, .upload-box .right .btn-solid {
  margin-left: 50px; }
