@import './assets';
@import './animations';
@import './framework';
@import './swiper';

//main style
* {
    //reset
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    appearance: none;
    
    //text color
    color: $black;

    // renders
    image-rendering: crisp-edges;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // fonts
    font-family: Roboto;
}
    
html, body, main {
    width: 100%;
    overflow: hidden;
}

nav {
    position: fixed;
    width: 100%;
    height: 100vh;
}

//hyperlinks
a {
    color: $blue;
    text-decoration: none;
}

//errors box
pre {
    min-height: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: center; 
    margin: 40px 0;
}

//views style
@import '../build/nav/nav';
@import '../build/admin/admin';
@import '../build/servicios/servicios';
@import '../build/catalogo/catalogo';
@import '../build/nosotros/nosotros';
@import '../build/trabajos/trabajos';