.ng-enter {
  -webkit-animation: fadeIn both .3s;
  animation: fadeIn both .3s;
  -webkit-animation-delay: .3s;
  animation-delay: .3s; }

.ng-leave {
  -webkit-animation: fadeOut both .3s;
  animation: fadeOut both .3s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; } }

@keyframes scaleIn {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; } }

@-webkit-keyframes scaleOut {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; } }

@keyframes scaleOut {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; } }

@-webkit-keyframes fromTop {
  from {
    -webkit-transform: translate3d(0, -100vh, 0);
    transform: translate3d(0, -100vh, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fromTop {
  from {
    -webkit-transform: translate3d(0, -100vh, 0);
    transform: translate3d(0, -100vh, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes fromLeft {
  from {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fromLeft {
  from {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes fromRight {
  from {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fromRight {
  from {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes fromBot {
  from {
    -webkit-transform: translate3d(0, 100vh, 0);
    transform: translate3d(0, 100vh, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fromBot {
  from {
    -webkit-transform: translate3d(0, 100vh, 0);
    transform: translate3d(0, 100vh, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes toTop {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh); } }

@keyframes toTop {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh); } }

@-webkit-keyframes toLeft {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); } }

@keyframes toLeft {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); } }

@-webkit-keyframes toRight {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); } }

@keyframes toRight {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); } }

@-webkit-keyframes toBot {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh); } }

@keyframes toBot {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh); } }

@-webkit-keyframes fromFlipX {
  from {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    position: absolute; }
  to {
    -webkit-transform: rotateX(0);
    transform: rotateX(0); } }

@keyframes fromFlipX {
  from {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    position: absolute; }
  to {
    -webkit-transform: rotateX(0);
    transform: rotateX(0); } }

@-webkit-keyframes toFlipX {
  from {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    position: absolute; }
  to {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg); } }

@keyframes toFlipX {
  from {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    position: absolute; }
  to {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg); } }

@-webkit-keyframes fromFlipY {
  from {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    position: absolute; }
  to {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); } }

@keyframes fromFlipY {
  from {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    position: absolute; }
  to {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); } }

@-webkit-keyframes toFlipY {
  from {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    position: absolute; }
  to {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); } }

@keyframes toFlipY {
  from {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    position: absolute; }
  to {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); } }
