* {
  margin: 0;
  padding: 0; }

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

video {
  width: auto;
  min-height: 100%; }
