#calcMeter {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 25vh;
    transition: .5s;
    @media only screen and (max-width: 400px) {
        margin-top: 18vh;
    }
    @media only screen and (max-width: 384px) {
        margin-top: 20vh;
    }
}

.go-opts {
    position: fixed;
    top: 10px;
    right: 15px;
    color: lighten($blue, 20%);
    font-size: 24px;
    text-shadow: 0 2px 2px rgba(#000,.4);
    z-index: 99;
}

#calcDisplay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;
    background: darken($blue, 10%);
    font-size: 16vw;
    line-height: 12vw;
    span {
        font-size: 16px;
        font-weight: 100;
    }
    @media only screen and (min-width: 500px) { 
        font-size: 60px;
        line-height: 50px;
    }
    @media only screen and (max-width: 400px) {
        height: 19vh;
        padding-bottom: 5px;
    }
    @media only screen and (max-width: 384px) {
        height: 21vh;
        font-size: 10vw;
        line-height: 10vw;
        margin: 0;
    }
}

#refList, #discList {
    width: 100%;
    max-width: 400px;
    height: 16vw;
    border: none;
    border-radius: 8vw;
    margin-bottom: 20px;
    background: transparent;
    font-size: 18px;
    color: #fff;
    padding: 0 25px;
    box-shadow: $btn;
    outline: none;
    appearance: none;
    optgroup {
        color: $blue;
    }
    option {
        color: $blue;
    }
    @media only screen and (min-width: 500px) {
        height: 60px;
    }
    @media only screen and (max-width: 384px) {
        height: 12vw;
        font-size: 14px;
    }
}

.input-box {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    input {
        width: 100%;
        max-width: 400px;
        height: 16vw;
        background: darken($blue, 3%);
        padding: 0 25px;
        border: none;
        border-radius: 8vw;
        box-shadow: inset $btn !important;
        outline: none;
        margin-bottom: 10px;
        font-size: 18px;
        color: #fff;
        @media only screen and (min-width: 500px) {
            height: 60px;
        }
        @media only screen and (max-width: 384px) {
            height: 12vw;
            font-size: 14px;
        }
    }
}

.btn-box {
    width: 100%;
    display: flex;
    max-width: 400px;
}

button {
    height: 16vw;
    border: none;
    border-radius: 8vw;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 0 15px;
    outline: none;
    box-shadow: $btn;
    transition: .2s;
    &:active {
        box-shadow: none;
        transform: scale(.95,.95);
    }
    @media only screen and (min-width: 500px) {
        height: 60px;
    }
    @media only screen and (max-width: 384px) {
        height: 12vw;
        font-size: 14px;
    }
}

.calc-btn {
    width: 70%;
    background: $blue;
    margin-right: 5px;
}

.reset-btn {
    width: 30%;
    background: $blue;
    margin-left: 5px;
}