//COLORS
$blue: #2E3195;
//SHADOWS
$btn: 0 2px 10px 0 rgba(#000, .4);
//GRADIENT
@mixin blue-gradient {
    background: rgba(darken($blue, 10%), 1);
    background: -moz-linear-gradient(top, rgba(darken($blue, 10%), 1) 0%, rgba(darken($blue, 10%), 0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(darken($blue, 10%), 1)), color-stop(100%, rgba(darken($blue, 10%), 0)));
    background: -webkit-linear-gradient(top, rgba(darken($blue, 10%), 1) 0%, rgba(darken($blue, 10%), 0) 100%);
    background: -o-linear-gradient(top, rgba(darken($blue, 10%), 1) 0%, rgba(darken($blue, 10%), 0) 100%);
    background: -ms-linear-gradient(top, rgba(darken($blue, 10%), 1) 0%, rgba(darken($blue, 10%), 0) 100%);
    background: linear-gradient(to bottom, rgba(darken($blue, 10%), 1) 0%, rgba(darken($blue, 10%), 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e3295', endColorstr='#2e3295', GradientType=0);
}