.modal {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: $blue;
    z-index: 998;
    transition: .2s ease-out;
    .go-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        text-align: right;
        @include blue-gradient;
        padding: 15px;
        color: lighten($blue, 20%);
        font-size: 24px;
        text-shadow: 0 2px 2px rgba(#000, .4);
    }
    .materials-list {
        width: calc(100% + 35px);
        height: calc(100vh - 200px);
        overflow-y: scroll;
        @media only screen and (max-width: 720px) {
            -webkit-overflow-scrolling: touch;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        background: darken($blue, 10%);
        padding: 60px 50px 0 15px;
        .opts-material {
            width: 90%;
            max-width: 400px;
            min-height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #fff;
            font-size: 16px;
            padding: 0 15px;
            border-radius: 5px;
            margin-bottom: 10px;
            box-shadow: 0 2px 5px 0 rgba(#000, .4);
            @media only screen and (max-width: 384px) {
                width: 100%;
                font-size: 12px;
            }
            p {
                width: 100%;
                margin-top: 10px;
                color: $blue;
            }
            span {
                background: $blue;
                padding: 5px 10px;
                color: #fff;
                border-radius: 20px;
                font-size: 12px;
            }
            i {
                min-width: 25px;
                text-align: right;
                font-size: 16px;
            }
        }
    }
    .material-inputs {
        position: absolute;
        bottom: 20px;
        width: 100%;
        max-width: 400px;
        height: 150px;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        input {
            height: 50px;
            background: darken($blue, 3%);
            padding: 0 25px;
            border: none;
            border-radius: 8vw;
            box-shadow: inset $btn !important;
            outline: none;
            margin: 0 5px;
            margin-bottom: 10px;
            font-size: 18px;
            color: #fff;
            &:first-of-type {
                width: 90%;
                height: 45px;
            }
            &:nth-of-type(2) {
                width: 90%;
                height: 45px;
            }
        }
        .btn {
            width: 150px;
            height: 40px;
            max-height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 25px;
            margin-top: 20px;
            font-size: 18px;
            color: #fff;
            outline: none;
            box-shadow: $btn;
            &:active {
                box-shadow: none;
                transform: scale(.95, .95);
            }
            @media only screen and (min-width: 500px) {
                height: 60px;
            }
            @media only screen and (max-width: 384px) {
                height: 12vw;
                font-size: 14px;
            }
        }
    }
}

.show-modal {
    right: 0 !important;
}