@import './_assets';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Monospace;
}

h1, p, a, label {
    color: #fff;
    margin-bottom: 10px;
}

html, body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: $blue;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    padding: 20px;
    img {
       height: 100%;
    }
    @media only screen and (max-width: 720px) {
        display: none;
    }
}

@import './_app';
@import './_opts';