//basics
$black: #1a1a1a;
$white: #fff;
$grey: #969696;

//ui
$bg: #FAFAFA;
$ln: #D7D7D7;

//hyperlinks
$blue: #19b5fe;

//primary colors
$pri: #2E3192;

//horizontal gradients
@mixin hGrad {
    background: #FF4E50;
    background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);
    background: linear-gradient(to right, #F9D423, #FF4E50);
}

//vertical gradients
@mixin vGrad {
    background: #FF4E50;
    background: -webkit-linear-gradient(to bottom, #F9D423, #FF4E50);
    background: linear-gradient(to bottom, #F9D423, #FF4E50);
}

//shadows
$flat: 0 0 10px 0 rgba(#000, .5);
$light: 0 2px 3px 0 rgba(#000, .16), 0 0 0 1px rgba(#000, .08);
$dark: 0 2px 4px 0 rgba(#000, .6);

//scrollbar style
.scrollbar::-webkit-scrollbar-track {
    background-color: $white;
    border-radius: 28px;
}
.scrollbar::-webkit-scrollbar {
    width: 28px;
    background-color: $white;
}
.scrollbar::-webkit-scrollbar-thumb {
    border: 10px solid $black;
    border-radius: 28px;
    background: $grey;
}