//ui elements
.view {
    width: 100%;
    height: calc(100vh - 60px);
    margin-top: 60px;
    overflow-y: auto;
    overflow-x: hidden;
}

.box {
    background: #fff;
    box-shadow: $light;
    border-radius: 3px;
    padding: 40px;
}

.ghost {
    background: $white;
    padding: 10px;
    border-radius: 3px;
}

.row {
    display: flex;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.hdiv {
    width: 100%;
    height: 1px;
    background: $grey;
    margin: 10px 0;
}

.vdiv {
    width: 1px;
    height: 100%;
    background: $grey;
    margin: 0 10px;
}

.dot {
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50%;
}

.btn {
    cursor: pointer;
    transition: .2s;
    user-select: none;
    padding: 5px 10px;
    text-align: center;
}

.btn-solid {
    @extend .btn;
    text-align: left;
    border: 1px solid $ln;
}

.light {
    background: $white;
    color: $black;
    &:hover {
        background: $pri;
        color: $white;
    }
}

.dark {
    background: $pri;
    color: $white;
    &:hover {
        background: $white;
        color: $black;
    }
}

.label {
    user-select: none;
    padding: 2px 10px;
    border-radius: 20px;
    color: $white;
    text-align: center;
}

.link {
    cursor: pointer;
    color: $blue;
    user-select: none;
}

//inputs
.text {
    width: 100%;
    transition: .2s;
    box-shadow: $light;
    padding: 15px 25px;
    background: $white;
    border-radius: 3px;
    &:focus {
        background: darken($white, 5%);
    }
}

//shadows
.flat {
    box-shadow: $flat
}

//gradients
.hgrad {
    @include hGrad
}

.vgrad {
    @include vGrad
}