@import './assets';
@import './animations';
@import './framework';

//main style
* {
    //reset
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    appearance: none;
    
    //text color
    color: $black;

    // renders
    image-rendering: crisp-edges;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // fonts
    font-family: Roboto;
}

i {
    font-size: 20px;
}
    
html, body, main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: $bg;
}

//hyperlinks
a {
    color: $blue;
    text-decoration: none;
}

//errors box
pre {
    min-height: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: center; 
    margin: 40px 0;
}

//views style
@import '../build/nav/nav.scss';
@import '../build/views/crm/crm.scss';
@import '../build/views/calc/calc.scss';
@import '../build/views/upload/upload.scss';