* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Monospace; }

h1, p, a, label {
  color: #fff;
  margin-bottom: 10px; }

html, body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #2E3195; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  text-align: center;
  padding: 20px; }
  footer img {
    height: 100%; }
  @media only screen and (max-width: 720px) {
    footer {
      display: none; } }

#calcMeter {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  margin-top: 25vh;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  @media only screen and (max-width: 400px) {
    #calcMeter {
      margin-top: 18vh; } }
  @media only screen and (max-width: 384px) {
    #calcMeter {
      margin-top: 20vh; } }

.go-opts {
  position: fixed;
  top: 10px;
  right: 15px;
  color: #5c60cd;
  font-size: 24px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  z-index: 99; }

#calcDisplay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 20px;
  background: #22246e;
  font-size: 16vw;
  line-height: 12vw; }
  #calcDisplay span {
    font-size: 16px;
    font-weight: 100; }
  @media only screen and (min-width: 500px) {
    #calcDisplay {
      font-size: 60px;
      line-height: 50px; } }
  @media only screen and (max-width: 400px) {
    #calcDisplay {
      height: 19vh;
      padding-bottom: 5px; } }
  @media only screen and (max-width: 384px) {
    #calcDisplay {
      height: 21vh;
      font-size: 10vw;
      line-height: 10vw;
      margin: 0; } }

#refList, #discList {
  width: 100%;
  max-width: 400px;
  height: 16vw;
  border: none;
  border-radius: 8vw;
  margin-bottom: 20px;
  background: transparent;
  font-size: 18px;
  color: #fff;
  padding: 0 25px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.4);
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  #refList optgroup, #discList optgroup {
    color: #2E3195; }
  #refList option, #discList option {
    color: #2E3195; }
  @media only screen and (min-width: 500px) {
    #refList, #discList {
      height: 60px; } }
  @media only screen and (max-width: 384px) {
    #refList, #discList {
      height: 12vw;
      font-size: 14px; } }

.input-box {
  width: 100%;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .input-box input {
    width: 100%;
    max-width: 400px;
    height: 16vw;
    background: #2a2d89;
    padding: 0 25px;
    border: none;
    border-radius: 8vw;
    -webkit-box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.4) !important;
    box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.4) !important;
    outline: none;
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff; }
    @media only screen and (min-width: 500px) {
      .input-box input {
        height: 60px; } }
    @media only screen and (max-width: 384px) {
      .input-box input {
        height: 12vw;
        font-size: 14px; } }

.btn-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 400px; }

button {
  height: 16vw;
  border: none;
  border-radius: 8vw;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  padding: 0 15px;
  outline: none;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.4);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  button:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: scale(0.95, 0.95);
    -ms-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95); }
  @media only screen and (min-width: 500px) {
    button {
      height: 60px; } }
  @media only screen and (max-width: 384px) {
    button {
      height: 12vw;
      font-size: 14px; } }

.calc-btn {
  width: 70%;
  background: #2E3195;
  margin-right: 5px; }

.reset-btn {
  width: 30%;
  background: #2E3195;
  margin-left: 5px; }

.modal {
  position: fixed;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #2E3195;
  z-index: 998;
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out; }
  .modal .go-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: right;
    background: #22246e;
    background: -moz-linear-gradient(top, #22246e 0%, rgba(34, 36, 110, 0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #22246e), color-stop(100%, rgba(34, 36, 110, 0)));
    background: -webkit-linear-gradient(top, #22246e 0%, rgba(34, 36, 110, 0) 100%);
    background: -o-linear-gradient(top, #22246e 0%, rgba(34, 36, 110, 0) 100%);
    background: -ms-linear-gradient(top, #22246e 0%, rgba(34, 36, 110, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#22246e), to(rgba(34, 36, 110, 0)));
    background: linear-gradient(to bottom, #22246e 0%, rgba(34, 36, 110, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e3295', endColorstr='#2e3295', GradientType=0);
    padding: 15px;
    color: #5c60cd;
    font-size: 24px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); }
  .modal .materials-list {
    width: calc(100% + 35px);
    height: calc(100vh - 200px);
    overflow-y: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #22246e;
    padding: 60px 50px 0 15px; }
    @media only screen and (max-width: 720px) {
      .modal .materials-list {
        -webkit-overflow-scrolling: touch; } }
    .modal .materials-list .opts-material {
      width: 90%;
      max-width: 400px;
      min-height: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background: #fff;
      font-size: 16px;
      padding: 0 15px;
      border-radius: 5px;
      margin-bottom: 10px;
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4); }
      @media only screen and (max-width: 384px) {
        .modal .materials-list .opts-material {
          width: 100%;
          font-size: 12px; } }
      .modal .materials-list .opts-material p {
        width: 100%;
        margin-top: 10px;
        color: #2E3195; }
      .modal .materials-list .opts-material span {
        background: #2E3195;
        padding: 5px 10px;
        color: #fff;
        border-radius: 20px;
        font-size: 12px; }
      .modal .materials-list .opts-material i {
        min-width: 25px;
        text-align: right;
        font-size: 16px; }
  .modal .material-inputs {
    position: absolute;
    bottom: 20px;
    width: 100%;
    max-width: 400px;
    height: 150px;
    -ms-flex-item-align: center;
    align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .modal .material-inputs .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .modal .material-inputs input {
      height: 50px;
      background: #2a2d89;
      padding: 0 25px;
      border: none;
      border-radius: 8vw;
      -webkit-box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.4) !important;
      box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.4) !important;
      outline: none;
      margin: 0 5px;
      margin-bottom: 10px;
      font-size: 18px;
      color: #fff; }
      .modal .material-inputs input:first-of-type {
        width: 90%;
        height: 45px; }
      .modal .material-inputs input:nth-of-type(2) {
        width: 90%;
        height: 45px; }
    .modal .material-inputs .btn {
      width: 150px;
      height: 40px;
      max-height: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border: none;
      border-radius: 25px;
      margin-top: 20px;
      font-size: 18px;
      color: #fff;
      outline: none;
      -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.4);
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.4); }
      .modal .material-inputs .btn:active {
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transform: scale(0.95, 0.95);
        -ms-transform: scale(0.95, 0.95);
        transform: scale(0.95, 0.95); }
      @media only screen and (min-width: 500px) {
        .modal .material-inputs .btn {
          height: 60px; } }
      @media only screen and (max-width: 384px) {
        .modal .material-inputs .btn {
          height: 12vw;
          font-size: 14px; } }

.show-modal {
  right: 0 !important; }
