<!DOCTYPE html>
<html lang="es" ng-app="calcApp">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" type="image/png" href="./assets/mobile.png">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#2B2B2B">
    <link rel="icon" type="image/png" href="./assets/mobile.png">
    <link rel="icon" type="image/png" href="./assets/favicon.png">
    <!-- Posicionamiento -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="verdu">
    <title>ArtMeter</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/estilos.css">
    <!-- Fonts/Icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body ng-controller="calcController">

    <div class="go-opts" ng-click="goOpts()">
        <i class="fa fa-cog" aria-hidden="true"></i>
    </div>

    <!-- calc -->
    <section id="calcMeter">
        <h1 id="calcDisplay">
            {{iva | currency: '€'}}
            <span>{{result | currency: '€'}} IVA no incl.</span>
        </h1>

        <label for="refList">Material</label>
        <select name="ref-list" id="refList" ng-model="materialSelected" ng-change="resetDto()">
            <option value="">Selecciona un material</option>
            <optgroup label="Materiales">
                <option ng-repeat="material in materials | orderBy: 'id'" value="{{material.val}}">{{material.id}}</option>
            </optgroup>
            <optgroup label="Oficina">
                <option ng-repeat="material in materials | orderBy: 'id'" value="{{material.val}}">{{material.id}}</option>
            </optgroup>
        </select>
        <div class="input-box">
            <input type="tel" id="xSize" placeholder="Anchura (cm)" ng-model="xVal">
            <input type="tel" id="ySize" placeholder="Altura (cm)" ng-model="yVal">
        </div>

        <div class="btn-box">
            <button class="calc-btn" ng-click="calcPrice()">
                <i class="fa fa-calculator" aria-hidden="true"></i>
            </button>
            <button class="reset-btn" ng-click="resetPrice()">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
        </div>

        <label for="discList">Descuento</label>
        <select name="disc-list" id="discList" ng-model="dtoSelected" ng-change="addDto()">
            <option value="">Selecciona un dto.</option>
            <option ng-repeat="dto in dtos" value="{{dto.val}}">{{dto.id}}</option>
        </select>

    </section>

    <!-- opts -->
    <div class="modal">
        <div class="go-close" ng-click="goClose()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <div class="materials-list">
            <div class="opts-material" ng-repeat="material in materials | orderBy: 'id'">
                <p>{{material.id}}</p>
                <span>{{material.val}}</span>
                <i class="fa fa-times" aria-hidden="true" ng-click="materials.$remove(material)"></i>
            </div>
        </div>
        <div class="material-inputs">
            <div class="row">
                <input type="text" placeholder="Nombre" ng-model="id">
                <input type="text" placeholder="Precio" ng-model="val" on-enter="materials.$add({id: id, val: val}) && cleanInputs()">
            </div>
            <div class="btn" ng-click="materials.$add({id: id, val: val}) && cleanInputs()">AÑADIR</div>
        </div>
    </div>

    <footer>
        <img src="assets/artbonaire-logo.svg" alt="Artbonaire">
    </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular_es.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

    <script src="js/app.js"></script>
</body>

</html>